:root {
--pink: rgb(212, 10, 212);
--white: #fff;
}

body {
    background-color: rgb(76, 85, 99);
}

header {
    width: 96%;
    margin: 0 auto;
    text-align: center;
}

header h1 {
    font-size: 50px;
    margin: 10px;
    color: var(--pink);
}

header p {
    font-size: 16px;
    color:var(--white);
    margin: 10px;
    padding: 3px;
}

.boxes {
    display: grid;
    width: 100%;
    grid-template-columns:
    repeat(12, 1fr); 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex: 1;
    padding: 50px;
}

.cards {
    border: 2px dashed var(--white);
    margin: 10px;
    padding: 10px;
    flex-direction: column;
    
}

.boxes h2, p {
    color: var(--pink);
    padding: 5px;
}

.boxes h2 {
    font-size: 30px;
    border: 2px solid var(--white);
    border-radius: 10px;
}

.boxes p {
    font-size: 16px;
}

.boxes pre {
    color: var(--white);
    background-color: var(--pink);
}

footer {
    color: var(--pink);
    font-size: 35px;
    text-align: center;
    padding: 30px;
    clear: both;
}